@import "tailwindcss";

@layer base {
  body{
    @apply min-h-screen bg-slate-900 text-white px-5 font-sans;
  }

  .glass{
    background: rgba(65, 254, 54, 0.05) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(65, 254, 54, 0.3) !important;
  }
}


